<nav class="navbar navbar-light">
  <div class="container">
    <LinkTo @route="index" @query={{hash author=null page=1 tag=null}} class="navbar-brand">conduit</LinkTo>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link">Home</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="editor" class="nav-link">
          <i class="ion-compose"></i>&nbsp;New Post
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="settings" class="nav-link">
          <i class="ion-compose"></i>&nbsp;Settings
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="sign-up" class="nav-link">Sign up</LinkTo>
      </li>
    </ul>
  </div>
</nav>